body {
    margin: 0px;
    white-space: nowrap;
    background-color: #F0F2EF;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 12px;
    width: 375px;
}

#header {
    top: 0px;
    width: 100%;
    text-align: center;
    height: 60px;
}

#logo {
    position: absolute;
    top: 17px;
    left: 50px;
}

.header-btn {
    position: absolute;
    top: 22px;
    right: 10px;
}

#dashboard-header {
    text-align: right;
    margin-bottom: 5px;
}

#redeem-btn {
    font-weight: 400;
}

#wallet {
    font-size: 20px;
}

#footer {
    text-align: center;
    height: 30px;
    line-height: 30px;
}

.container {
    margin: 10px;
}

.btn {
    margin-top: -2px;
    margin-left: 7px;
    padding: 0;
    border: none;
    background: none;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    cursor: pointer;
}

.bg-btn {
    width: 40%;
    height: 30px;
    border: none;
    border-radius: 7px;
    font-family: Montserrat, sans-serif;
    cursor: pointer;
    font-size: 12px;
}

.credential {
    padding-left: 10px;
    width: 80%;
    height: 30px;
    border: none;
    border-radius: 7px;
    font-family: Montserrat, sans-serif;
    /* cursor: crosshair; */
    font-size: 12px;
}

.error {
    color: #EF807D;
    width: 80%;
    text-align: left;
    margin: auto;
}

hr {
    border-top: 1px solid #887A62;
    margin-top: 10px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 10px;
}

hr.header-rule {
    margin-top: 0px;
}

li {
    text-align: left;
}

p {
    white-space: normal;
}

.vertical-spacer {
    margin-top: 10px;
    margin-bottom: 10px;
}

.parent-height {
    height: 100%;
}

.valign-middle {
    vertical-align: middle;
    display: inline-block;
}

.inline {
    display: inline-block;
}

.shadowLine {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #887A62 inset;
}

.font-light {
    color: #7D7D7D;
}

.font-medium {
    color: #303030;
}

.font-dark {
    color: #000000;
}

.font-yellow {
    color: #F5A623;
}

.font-blue {
    color: #4A90E2;
}

.font-red {
    color: #EF807D;
}

.font-white {
    color: #FFFFFF;
}

.bg-yellow {
    background: #F5A623;
}

.underline {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

.center-align {
    text-align: center;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clear {
    clear: both;
}